#
# Default:
#
# These users will be automatically assigned as reviewer for everything in the
# repository unless a different match is made.
#
* @kinetifex @indexzero @SivanMehta @cfellin1 @DullReferenceException
