/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #224c8c;
  --ifm-color-primary-dark: #1f447e;
  --ifm-color-primary-darker: #1d4177;
  --ifm-color-primary-darkest: #183562;
  --ifm-color-primary-light: #25549a;
  --ifm-color-primary-lighter: #2757a1;
  --ifm-color-primary-lightest: #2c63b6;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #8793d5;
  --ifm-color-primary-dark: #6d7ccc;
  --ifm-color-primary-darker: #6070c7;
  --ifm-color-primary-darkest: #3f51b4;
  --ifm-color-primary-light: #a1aade;
  --ifm-color-primary-lighter: #aeb6e3;
  --ifm-color-primary-lightest: #d4d9f0;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.gasket-navbar-logo {
  filter: brightness(0.2);
}

[data-theme='dark'] .gasket-navbar-logo {
  filter: brightness(1);
}

.gasket-cover {
  filter: brightness(1);
}

[data-theme='dark'] .gasket-cover {
  filter: brightness(1.25);
}
