
/* --- OVERRIDES --- */

.cover.show {
    display: block;
}

.cover .cover-main {
    max-width: none;
    padding: 0;
    margin: 0;
}

.app-nav.no-badge {
    right: 24px;
    font-size: 13px;
    top: 24px;
    line-height: 13px;
}

nav.hidden {
    display: none;
}

nav > .github-logo {
    width: 40px;
    height: 40px;
}

/* --- STYLES --- */

.front-cover h2 {
    display: block;
    margin: var(--heading-h2-margin, var(--heading-margin));
    padding: var(--heading-h2-padding, var(--heading-padding));
    margin-top: 0;
    font-size: var(--heading-h2-font-size);
    font-weight: var(--heading-font-weight);
    line-height: var(--heading-h2-line-height);
    color: var(--heading-color);
}

.front-cover h3 {
    margin: var(--heading-h3-margin, var(--heading-margin));
    padding: var(--heading-h3-padding, var(--heading-padding));
    margin-top: 0;
    font-size: var(--heading-h3-font-size);
    font-weight: var(--heading-font-weight);
    line-height: var(--heading-h3-line-height);
    color: var(--heading-color);
}

.front-cover {
    width: auto;
}

.front-cover header {
    position: relative;
    padding: 8rem 0;
    width: 100%;
    /*background-image: url("bg-schematic.svg");*/
    /*background-position: center bottom;*/
    /*background-repeat: repeat-x;*/
}

.front-cover .logo {
    position: absolute;
    top: 40px;
    left: 64px;
}

.front-cover header p {
    color: var(--color-nuetral-300);
    font-size: 31px;
    line-height: 40px;
    font-weight: 300;
    padding-bottom: 24px;
}

.front-cover header a {
    background-color: var(--color-secondary-100);
    border-radius: 4px;
    padding: 10px 24px;
    text-decoration: none;
    font-weight: 500;
}

.front-cover section {
    padding: 96px 0;
}

.front-cover article {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.front-cover footer {
    color: var(--color-nuetral-300);
    padding-top: 64px;
    background-color: var(--color-nuetral-400);
    width: 100%;
    min-height: 350px;
}

.front-cover .links {
    text-align: left;
    color: var(--color-nuetral-300);
    display: block;
    float: left;
    width: 25%;
    font-size: 13px;
    line-height: 20px;
}

.front-cover .links h4 {
    color: var(--color-primary-100);
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
}

.front-cover .links > a {
    color: var(--color-secondary-100);
    text-decoration: var(--link-text-decoration);
    display: block;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 16px;
}

.front-cover .links > a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.front-cover .links > a:not([href^="#/"]):after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14px" viewBox="0 0 24 24"><g fill="%2304E7AE" transform="translate(0,2)"><path d="M12.1875,12.5625a.75.75,0,0,1-.53027-1.28027L19.18945,3.75H14a.75.75,0,0,1,0-1.5h6.99414c.0166,0,.042.00049.0625.00195a.75032.75032,0,0,1,.40039.15332l.001.00049h0a.78015.78015,0,0,1,.10937.103.75162.75162,0,0,1,.18262.48242h0V10a.75.75,0,0,1-1.5,0V4.81055l-7.53223,7.53222A.74754.74754,0,0,1,12.1875,12.5625Z"/><path d="M18.75,21.75H5.25a3.00328,3.00328,0,0,1-3-3V5.25a3.00328,3.00328,0,0,1,3-3H10a.75.75,0,0,1,0,1.5H5.25a1.50164,1.50164,0,0,0-1.5,1.5v13.5a1.50164,1.50164,0,0,0,1.5,1.5h13.5a1.50164,1.50164,0,0,0,1.5-1.5V14a.75.75,0,0,1,1.5,0v4.75A3.00328,3.00328,0,0,1,18.75,21.75Z"/></g></svg>');
    padding-left: 4px;
}

.godaddy-open-source {
    display: block;
    background-image: url("godaddy-oss-logo.svg");
    background-repeat: no-repeat;
    padding-left: 60px;
    width: 150px;

    float: left;
    margin-top: 24px;
    margin-bottom: 32px;
}

.front-cover section.dark {
    position: relative;
    background-color: var(--color-primary-300);
}

.front-cover section.dark h2 {
    color: var(--color-primary-100);
}

.front-cover section.dark p {
    color: var(--color-nuetral-100);
}

.gasket-element-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 880px;
    margin-left: -60px;
}

.gasket-element-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    text-align: left;
    padding: 64px 0;
}

.gasket-element-column:first-of-type {
    padding-right: 64px;
    border-right: 1px solid var(--color-primary-100);
}

.gasket-element-column:last-of-type {
    padding-left: 64px;
}

.gasket-element-row {
    border-bottom: 1px solid var(--color-primary-100);
    padding: 0 64px;
}

.gasket-element-row:last-of-type {
    border-bottom: 0;
}

.element-icon {
    width: 48px;
}

.front-cover .element-caption {
    margin-top: 28px;
    border-top: 2px solid var(--color-accent-red-100);
    padding: 16px 0;
    width: 96px;

    font-size: 13px;
    line-height: 20px;
    color: var(--color-nuetral-300);
}

.plugins-graphic {
    padding: 64px 0;
    max-width: 512px;
    width: 100%;
}


/* --- BORDERS --- */

section.dark:before,
section.dark:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 64px;
    background-color: var(--color-primary-300);
}

section.dark:before {
    top: -63px;
    clip-path: polygon(62.5% 98%, 100% 0%, 100% 100%, 0% 100%, 0% 10%);
    background-image: repeating-linear-gradient(
            -60deg,
            var(--color-secondary-100),
            var(--color-secondary-100) 4px,
            transparent 4px,
            transparent 8px
    );
    background-repeat: no-repeat;
    background-size: 62.5% 75%;
}

section.dark:after {
    bottom: -63px;
    clip-path: polygon(37.5% 2%, 100% 90%, 100% 0%, 0% 0%, 0% 100%);
    background-image: repeating-linear-gradient(
            60deg,
            var(--color-secondary-100),
            var(--color-secondary-100) 4px,
            transparent 4px,
            transparent 8px
    );
    background-position-y: 100%;
    background-position-x: 100%;
    background-repeat: no-repeat;
    background-size: 62.5% 75%;
}

/* --- BREAKPOINTS --- */


@media only screen and (max-width: 992px) {

    .gasket-element-row {
        width: 100%;
        padding: 0;
        margin-left: 0;
    }

    .gasket-element-column {
        padding: 64px 32px;
    }
}

@media only screen and (max-width: 768px) {

    .front-cover {
        text-align: left;
    }

    .front-cover article {
        padding-left: 20px;
        padding-right: 20px;
    }

    .front-cover p {
        padding: 0;
    }

    section.dark:before,
    section.dark:after {
        height: 32px;
    }

    section.dark:before {
        top: -31px;
    }

    section.dark:after {
        bottom: -31px;
    }

    .gasket-element-row {
        display: inline;
    }

    .gasket-element-column {
        display: inline-block;
        padding: 32px 0 0 0;
    }

    .gasket-element-column:first-of-type {
        padding-right: 0;
        border-right: 0;
    }

    .gasket-element-column:last-of-type {
        padding-left: 0;
    }

    .gasket-element-row {
        border-bottom: 0;
        padding: 0;
    }

    .front-cover .links {
        width: 33%;
        padding-right: 24px;
    }

    .front-cover .links:last-of-type {
        padding-top: 16px;
        width: 100%;
        padding-right: 0;
    }

    .front-cover .logo {
        position: absolute;
        top: 16px;
        left: 24px;
    }

    .godaddy-open-source {
        margin-top: 0;
        margin-right: 32px;
    }

    .front-cover footer {
        min-height: 400px;
    }
}

@media only screen and (max-width: 400px) {
    .xs-hidden {
        display: none !important;
    }

    nav .github-logo {
        width: 32px;
        height: 32px;
    }

    .front-cover .logo {
        left: 20px;
    }

    .app-nav.no-badge {
        right: 20px;
    }
}
