@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,500&display=swap');
@import url('https://cdn.jsdelivr.net/npm/docsify-themeable@0/dist/css/theme-defaults.css');

/* Properties */
:root {
    /* App */
    /* ========================================================================= */

    --mono-shade3: darkgreen;
    --mono-shade2: green;
    --mono-shade1: lightgreen;
    --mono-base: turquoise;
    --mono-tint1: darkred;
    --mono-tint2: red;
    --mono-tint3: pink;

    --color-primary-100: #C5CAE9;
    --color-primary-200: #3F51B5;
    --color-primary-300: #1D3354;
    --color-secondary-100: #04E7AE;

    --color-nuetral-100: #FCFAFA;
    --color-nuetral-200: #EBE9E9;
    --color-nuetral-300: #929499;
    --color-nuetral-400: #232425;

    --color-accent-purple-100: #7D52C4;
    --color-accent-yellow-100: #FECD36;
    --color-accent-red-100: #F35B67;


    /* Base */
    /* ========================================================================= */
    --base-font-family: 'Heebo', sans-serif;
    --base-font-size: 1rem; /* 16px; */
    --base-line-height: 1.75; /* 28px; */
    --base-background-color: var(--color-nuetral-100);
    --base-color: var(--color-nuetral-400);
    --base-font-weight: 400;

    /* Strong */
    --strong-font-weight: 500;
    --strong-color: var(--base-color);


    /* Content */
    /* ========================================================================= */
    /* Blockquote */
    --blockquote-border-color: var(--color-secondary-100);
    --blockquote-border-width: 1px 1px 1px 4px;
    --blockquote-background: var(--base-background-color);

    /* Code */
    --code-inline-background: var(--color-nuetral-200);
    --code-theme-background: var(--color-nuetral-200);
    --code-theme-comment    : var(--color-nuetral-300);
    --code-theme-function   : var(--color-accent-red-100);
    --code-theme-keyword    : var(--color-primary-200);
    --code-theme-operator   : var(--color-primary-200);
    --code-theme-punctuation: var(--color-nuetral-300);
    --code-theme-selection  : var(--color-primary-100);
    --code-theme-selector   : var(--color-accent-purple-100);
    --code-theme-tag        : var(--color-accent-red-100);
    --code-theme-text       : var(--color-nuetral-400);
    --code-theme-variable   : var(--color-accent-yellow-100);

    /* Headings */
    --heading-color: var(--color-primary-200);
    --heading-font-weight: 300;

    --heading-h1-font-size: 3.0625rem;  /* 49px; */
    --heading-h1-line-height: 1.33;     /*64px; */
    --heading-h1-font-weight: 500;

    --heading-h2-font-size: 2.4375rem;  /* 39px; */
    --heading-h2-line-height: 1.23;     /* 48px; */

    --heading-h3-font-size: 1.9375rem;  /* 25px; */
    --heading-h3-line-height: 1.25;     /* 36px; */

    --heading-h4-font-size: 1.5625rem;  /* 20px; */
    --heading-h4-line-height: 1.44;     /* 32px; */

    /* Keyboard */
    --kbd-border: 1px solid var(--mono-tint2);

    --link-color: var(--color-primary-200);
    --link-text-decoration: none;
    --link-text-decoration--hover: underline;

    /* Notice */
    --notice-border-radius: 0;
    --notice-border-width: 0 0 0 4px;
    --notice-padding: 1em 1.5em 1em 3em;

    /* Notice Pseudo */
    --notice-before-border-radius: 100%;
    --notice-before-font-weight: bold;
    --notice-before-height: 1.5em;
    --notice-before-left: 0.75em;
    --notice-before-line-height: 1.5;
    --notice-before-margin: 0 0.25em 0 0;
    --notice-before-position: absolute;
    --notice-before-width: var(--notice-before-height);

    /* Notice - Important */
    --notice-important-background: hsl(340, 60%, 96%);
    --notice-important-border-color: hsl(340, 90%, 45%);

    /* Notice - Important Pseudo */
    --notice-important-before-background: var(--notice-important-border-color) #{svg-data-uri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#fff"><path d="M10 14C10 15.1 9.1 16 8 16 6.9 16 6 15.1 6 14 6 12.9 6.9 12 8 12 9.1 12 10 12.9 10 14Z"/><path d="M10 1.6C10 1.2 9.8 0.9 9.6 0.7 9.2 0.3 8.6 0 8 0 7.4 0 6.8 0.2 6.5 0.6 6.2 0.9 6 1.2 6 1.6 6 1.7 6 1.8 6 1.9L6.8 9.6C6.9 9.9 7 10.1 7.2 10.2 7.4 10.4 7.7 10.5 8 10.5 8.3 10.5 8.6 10.4 8.8 10.3 9 10.1 9.1 9.9 9.2 9.6L10 1.9C10 1.8 10 1.7 10 1.6Z"/></svg>')} center / 0.875em no-repeat;
    --notice-important-before-color: #fff;
    --notice-important-before-content: "";

    /* Notice - Tip */
    --notice-tip-background: hsl(204, 60%, 96%);
    --notice-tip-border-color: hsl(204, 90%, 45%);

    /* Notice - Tip Psuedo */
    --notice-tip-before-background: var(--notice-tip-border-color) #{svg-data-uri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#fff"><path d="M9.1 0C10.2 0 10.7 0.7 10.7 1.6 10.7 2.6 9.8 3.6 8.6 3.6 7.6 3.6 7 3 7 2 7 1.1 7.7 0 9.1 0Z"/><path d="M5.8 16C5 16 4.4 15.5 5 13.2L5.9 9.1C6.1 8.5 6.1 8.2 5.9 8.2 5.7 8.2 4.6 8.6 3.9 9.1L3.5 8.4C5.6 6.6 7.9 5.6 8.9 5.6 9.8 5.6 9.9 6.6 9.5 8.2L8.4 12.5C8.2 13.2 8.3 13.5 8.5 13.5 8.7 13.5 9.6 13.2 10.4 12.5L10.9 13.2C8.9 15.2 6.7 16 5.8 16Z"/></svg>')} center / 0.875em no-repeat;
    --notice-tip-before-color: #fff;
    --notice-tip-before-content: "";

    /* Tables */
    --table-cell-border-color: var(--color-nuetral-300);
    --table-cell-border-width: 1px 0;
    --table-row-odd-background: transparent;


    /* Cover */
    /* ========================================================================= */
    /* Background */
    --cover-background-color: var(--color-nuetral-100);

    /* Blockquote (Subtitle) */
    --cover-blockquote-color: var(--strong-color);


    /* Navbar */
    /* ========================================================================= */
    /* Root */

    /* Menu Root */
    --navbar-menu-root-background: #{chevron-data-uri(down, null, 6px, 1.5, #b3b3b3)} right no-repeat;
    --navbar-menu-root-padding: 0 18px 0 0;
    --navbar-root-transition: none;
    --navbar-menu-transition: none;
    --navbar-root-border-style: none;
    --navbar-root-text-decoration--hover: underline;

    /* Sidebar */
    /* ========================================================================= */

    --sidebar-background: var(--color-primary-300);
    --sidebar-padding: 0;

    /* Name */
    --sidebar-name-color: var(--color-primary-100);
    --sidebar-name-font-weight: 500;


    /* Nav Links */
    --sidebar-nav-link-border-color: transparent;
    --sidebar-nav-link-border-color--active: var(--color-secondary-100);
    --sidebar-nav-link-border-width: 0 0 0 0;
    --sidebar-nav-link-color: var(--color-nuetral-100);
    --sidebar-nav-link-color--active: var(--color-nuetral-100);
    --sidebar-nav-link-margin: 16px 0 0 0;
    --sidebar-nav-link-text-decoration: none;
    --sidebar-nav-link-text-decoration--active: none;
    --sidebar-nav-link-text-decoration--hover: underline;
    --sidebar-nav-link-padding: 0 0 0 20px;


    /* Nav Links - Pseudo Content */
    --sidebar-nav-pagelink-padding: 0;

    /* Toggle */
    --sidebar-toggle-icon-color: var(--color-nuetral-400);
    --sidebar-toggle-icon-stroke-width: 2px;
    --sidebar-toggle-offset-top: 24px;
    --sidebar-toggle-offset-left: 8px;
    --sidebar-toggle-border-radius: 0;
    --sidebar-toggle-width: 32px;
}



/* -- OVERRIDES -- */

.sidebar-nav ul ul {
    margin-left: 0;
}
.sidebar-nav ul li {
    border-left: 4px solid transparent;
}
.sidebar-nav ul li.active {
    border-left: 4px solid var(--sidebar-nav-link-border-color--active);
}

.markdown-section a:not([href^="#/"]):after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"><g fill="%233F51B5" transform="translate(0,2)"><path d="M12.1875,12.5625a.75.75,0,0,1-.53027-1.28027L19.18945,3.75H14a.75.75,0,0,1,0-1.5h6.99414c.0166,0,.042.00049.0625.00195a.75032.75032,0,0,1,.40039.15332l.001.00049h0a.78015.78015,0,0,1,.10937.103.75162.75162,0,0,1,.18262.48242h0V10a.75.75,0,0,1-1.5,0V4.81055l-7.53223,7.53222A.74754.74754,0,0,1,12.1875,12.5625Z"/><path d="M18.75,21.75H5.25a3.00328,3.00328,0,0,1-3-3V5.25a3.00328,3.00328,0,0,1,3-3H10a.75.75,0,0,1,0,1.5H5.25a1.50164,1.50164,0,0,0-1.5,1.5v13.5a1.50164,1.50164,0,0,0,1.5,1.5h13.5a1.50164,1.50164,0,0,0,1.5-1.5V14a.75.75,0,0,1,1.5,0v4.75A3.00328,3.00328,0,0,1,18.75,21.75Z"/></g></svg>');
    padding-left:2px;
}

/* h1 & h2 same level */

/* h3 */
.sidebar-nav ul ul ul li {
    padding-left: 20px;
}
/* h4 */
.sidebar-nav ul ul ul ul li {
    padding-left: 44px;
}

/* full-width tables */
.markdown-section table {
    display: table;
    width: 100%;
}


/* -- FIXES -- */

:root {
    --heading-line-height: var(--base-line-height);
}

.markdown-section h1 {
    line-height: var(--heading-h1-line-height, var(--heading-line-height));
}
.markdown-section h2 {
    line-height: var(--heading-h2-line-height, var(--heading-line-height));
}
.markdown-section h3 {
    line-height: var(--heading-h3-line-height, var(--heading-line-height));
}
.markdown-section h4 {
    line-height: var(--heading-h4-line-height, var(--heading-line-height));
}
.markdown-section h5 {
    line-height: var(--heading-h5-line-height, var(--heading-line-height));
}
.markdown-section h6 {
    line-height: var(--heading-h6-line-height, var(--heading-line-height));
}


/* -- CUSTOM FEATURES -- */

a.toc-link,
a.toc-link:hover {
    text-indent: 4px;
    color: var(--color-primary-100);
}

a.toc-link:after {
    float: left;
    content: "←";
}
