# Workflow to run CI and tests for all branches on push and on pull requests

name: CI

on:
  pull_request:
  push:
    branches:
      - 'main'

jobs:
  ci:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm

      - name: Install Dependencies
        run: npm ci --prefer-offline

      - name: Build
        run: npm run build

      - name: Run Tests & Lint
        run: npm test
